.container{
    margin-top: 30px;
}
.leftPanel{
    background: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #cccccc 1px solid;
}
.rightPanel{
    background: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #cccccc 1px solid;
    height: 300px;
    overflow-y: auto;
}
